*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.noiDung-full{
    background-color: #eef1f5;
}

.noiDung-column-right{
    background-color: #eef1f5;
}


/* View lichcongtac */
.dropdown-list{
    display: none;
}

.hover-pen:hover .dropdown-list{
    display: block;
}

/* Open modal  */
.modal {
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin-top: 10px;
    margin: auto;
    padding: 5px;
    justify-content: center;
    border: 1px solid #888;
    width: 98%;
    height: 98%;
    z-index: 99999;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close-button {
    color: #aaa;
}

